body {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


header {
    background-color: #eeeeee;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 50px;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-logo {
    width: 160px;
    margin-right: 200px;
}

.catalog-logo:hover {
    opacity: 0.6;
    cursor: pointer;
}

.header-navigation {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 440px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.header-basket {
    list-style: none;
    width: 117px;
    margin: 0;
    padding: 0;
    margin-left: 243px;
    padding-top: 30px;
}

.header-navigation-current {
    position: relative;
}

.header-navigation-current::after {
    content: "";
    position: absolute;
    right: 1px;
    top: 25px;
    left: 1px;
    height: 2px;
    background-color: #fb565a;
}

.header-basket span {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #fb565a;
}

.main-navigation a:focus {
    color: #a6a6a6;
}

.header-navigation a:active {
    color: #a6a6a6;
}

.header-basket a:active {
    color: #a6a6a6;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.slider {
    position: relative;

    background-color: #eeeeee;
    margin-bottom: 80px;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;

    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.slider-controls label {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;

    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    width: 18px;
    height: 18px;

    background: #ffffff;

    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-item {
    display: none;
    padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-position: 93% 18px;
}

.slider-item:nth-child(2) {
    background-image: url(../img/slide2.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url(../img/slide3.png);
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
}


.slider-button {
    display: block;
    width: 240px;
    padding: 13px 0;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.slider-button:hover,
.slider-button:focus {
    background-color: #e74246;
}

.slider-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-order {
    display: inline-block;
    padding: 13px 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 200;
    color: white;
    border-radius: 2px;
    margin-top: 30px;
}


.benefit-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
}

.benefit-item {
    margin-right: 100px;
    width: 300px;
}

.benefit-item h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin: 18px 0;
}

.benefit-item p {
    width: 260px;
    margin: 0;
}

.web a {
    background: #fb565a;
}

.app a {
    background: #00ca74;
}

.presentation a {
    background: #efc84a;
}

.web a:hover {
    background: #e74246;
}

.app a:hover {
    background: #00bc6c;
}

.presentation a:hover {
    background: #e5a722;
}

.web a:active {
    background: #d7373b;
    color: #e37376;
}

.app a:active {
    background: #00aa62;
    color: #4dc491;
}

.presentation a:active {
    background: #e5a722;
    color: #edc265;
}

.about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 2px solid #eeeeee;
}

.purpose {
    width: 660px;
    padding-top: 75px;
}

.purpose h2 {
    margin: 0;
    font-size: 45px;
    line-height: 45px;
}

.purpose p {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 40px;
}

.orders-development {
    list-style: none;
    margin: 0;
    margin-top: 25px;
}

.orders-development li {
    position: relative;
    margin-bottom: 25px;
    margin-left: 37px;
}

.orders-development li::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -37px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.orders {
    text-transform: uppercase;
    font-weight: bold;
}

.stats {
    width: 360px;
    padding-top: 40px;
    margin-bottom: 80px;
}

.stats p {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding-left: 17px;
    padding-top: 29px;
}

.stats table {
    margin-top: 25px;
}

tr:first-of-type td {
    font-size: 45px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 30px;
}

tr:last-child {
    line-height: 18px;
}

.partners ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    margin: 0;
    margin-bottom: 70px;
    padding-left: 33px;
    padding-top: 45px;
    padding-bottom: 38px;

}

.partner:first-child {
    margin-right: 96px;
}

.partner:nth-child(2) {
    margin-right: 106px;
}

.partner:nth-child(3) {
    margin-right: 121px;
}


.partners li {
    opacity: 0.3;
}

.partners li:hover {
    opacity: 1;
}

.partners li:active {
    opacity: 0.2;
}

.map {
    width: 100%;
    height: 420px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    background-image: url(../img/map-cloud.jpg);
    background-position: center;
}

.map iframe {
    width: 100%;
    height: 420px;
    border: 0;
}

.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 325px;
    height: 310px;
    position: absolute;
    top: 50px;
    left: 140px;
    background-color: white;
}

.map h3 {
    text-transform: uppercase;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 22px;
}

.map p {
    padding: 0;
    margin: 0;
    text-align: left;
    margin-left: 50px;
    width: 210px;
    margin-bottom: 16px;
    line-height: 18px;
}

.map a {
    margin-left: 50px;
    margin-bottom: 32px;
}

.button-message {
    margin: 0 auto;
    padding: 14px 46px;
    background-color: #fb565a;
    color: white;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
}

.button-message:hover,
.button-message:focus {
    background-color: #e74246;
}

.button-message:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 65px;
    padding-bottom: 70px;
}

.social {
    width: 260px;

}

.social ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
    background-color: #e74246;
}

.social-button:active {
    background-color: #d7373b;
}

.social-button:active path {
    fill: #e37376;
}


.discount {
    width: 562px;
    margin: 0;
    padding: 0;
    margin-left: 139px;
    margin-bottom: 15px;
}

.discount h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 6px;
}

.discount p {
    margin: 0;
    line-height: 22px;
}

/* catalog */

.magazine {
    text-align: center;
    background-color: #eeeeee;
    font-size: 26px;
    line-height: 35px;
    padding-top: 80px;
    padding-bottom: 110px;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.magazine h1 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
}

.optional-container {
    margin: 0;
    padding: 0;
    width: 260px;
}

.container {
    width: 760px;
}

.container ul {
    list-style: none;
}

.sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 760px;
    text-transform: uppercase;
    margin-bottom: 55px;
    padding: 0 20px 0 140px;
}

.sort ul {
    list-style: none;
}

.sort-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 280px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 265px;

}

.sort-buttons a{
    display: block;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.3;
}

.current-sort-type a{
    opacity: 1;
}

.another-sort-type a:hover,
.another-sort-type a:focus{
    opacity: 0.6;
}

.another-sort-type a:active{
    opacity: 1;
}




.arrows-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 35px;
    position: relative;
}

.button-message {
    margin: 0 auto;
    padding: 14px 46px;
    background-color: #fb565a;
    color: white;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
}

.arrow-down {
    width: 11px;
    height: 11px;
    top: 4px;
    right: 31px;
    position: absolute;
    background-image: url(../img/icon-down-dir.png);
    background-repeat: no-repeat;
    background-color: white;
    text-transform: uppercase;
    border: 0;
}

.arrow-up {
    width: 11px;
    height: 11px;
    right: 1px;
    top: 3px;
    position: absolute;
    background-image: url(../img/icon-down-dir.png);
    background-repeat: no-repeat;
    background-color: white;
    text-transform: uppercase;
    border: 0;
    opacity: 0.2;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.arrow-up:hover,
.arrow-up:focus{
    opacity: 0.4;
}

.arrow-up:active{
    opacity: 1;
}



.catalog-menu {
    width: 760px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 25px;
    padding: 0 20px 0 140px;
}

.catalog-menu li {
    width: 360px;
    margin-bottom: 26px;
}

.catalog-item {
    position: relative;
}

.catalog-border {
    width: 360px;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url(../img/dots-in-catalog_cart.png);
    opacity: 0.12;

}

.catalog-menu li:nth-child(odd) {
    margin-right: 40px;
}

.page-nav {
    width: 460px;
    padding: 0 20px 0 140px;
}

.hover-info p,
.hover-info h1 {
    margin: 0;
    padding: 0;
}

.hover-info {
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #eeeeee;
    padding-top: 30px;
    padding-bottom: 40px;
    position: absolute;
    bottom: 8px;
    display: none;

}

.catalog-item:hover .hover-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog-item:hover .catalog-border {
    opacity: 1;
}

.hover-info h1 {
    text-transform: uppercase;
    margin-bottom: 14px;
    font-size: 18px;
}

.hover-info p {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 21px;
}

.price {
    display: inline-block;
    color: #ffffff;
    background-color: #fb565a;
    padding: 15px 54px;
    border-radius: 5px;
}

.price:hover,
.price:focus {
    background-color: #e74246;
}

.price:active {
    background-color: #d7373b;
}

.page-number {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 17px;
    color: black;
    background-color: #e9e9e9;
    line-height: 18px;
    font-weight: bold;
    margin-right: 5px;
    border: 3px solid #e9e9e9;
}

.next-page {
    padding: 10px 77px;
    text-transform: uppercase;
}

.current-page {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 17px;
    color: black;
    line-height: 18px;
    margin-right: 5px;
    background-color: #ffffff;
    border: 3px solid #e9e9e9;
}



.page-number:hover,
.page-number:focus {
    background-color: #dfdfdf;
    border: 3px solid #dfdfdf;
}

.page-number:active {
    color: #bfbfbf;
    background-color: #d5d5d5;
    border: 3px solid #d5d5d5;
    border-top: 3px solid #bfbfbf;
}

.modal-position {
    position: relative;
}

.modal-window {
    width: 960px;
    position: fixed;
    left: 50%;
    top: 220px;;
    margin-left: -520px;
    padding-top: 65px;
    padding-bottom: 85px;
    padding-left: 100px;
    background-color: white;
    
    -webkit-box-shadow: 0 13px 70px 1px rgba(0, 0, 0, 1);
    box-shadow: 0 13px 70px 1px rgba(0, 0, 0, 1);

    display: none;
}

.modal-window ul {
    list-style: none;
}

.modal-window-show {
    display: block;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px)
    }
    70% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px)
    }
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px)
    }
    70% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px)
    }
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.modal-error {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.modal-error input {
    border: 2px solid #e74246;
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}


.modal-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.modal-form li {
    margin-bottom: 33px;
}


.second-field li {
    margin-bottom: 33px;
}

.second-field li:last-child {
    margin: 0;
}

.modal-window h2 {
    margin: 0;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 35px;
}

.modal-window label {
    margin-bottom: 5px;
}

.modal-window input {
    margin-top: 5px;
}


.name-field {
    width: 360px;
    margin-right: 40px;
}

.email-field {
    width: 360px;
}

.form-name-field {
    width: 360px;
    padding: 15px 0 15px 15px;
    line-height: 18px;
    border: 2px solid #d7dcde;
    border-radius: 2px;
}

.form-email-field {
    width: 360px;
    padding: 15px 0 15px 15px;
    line-height: 18px;
    border: 2px solid #d7dcde;
    border-radius: 2px;
}

.second-field textarea {
    width: 760px;
    padding: 15px 0 0 15px;
    line-height: 18px;
    border: 2px solid #d7dcde;
    border-radius: 2px;
}

.second-field textarea:focus {
    outline: none;
    border: 2px solid #000000;
}

.modal-form input:focus {
    outline: none;
    border: 2px solid black;
}

.modal-form input:focus::-webkit-input-placeholder {
    color: #000000;
}

.modal-form input:focus:-ms-input-placeholder {
    color: #000000;
}

.modal-form input:focus::-ms-input-placeholder {
    color: #000000;
}

.modal-form input:focus::placeholder {
    color: #000000;
}

.modal-error input::-webkit-input-placeholder {
    color: #e74246;
}

.modal-error input:-ms-input-placeholder {
    color: #e74246;
}

.modal-error input::-ms-input-placeholder {
    color: #e74246;
}

.modal-error input::placeholder {
    color: #e74246;
}

.second-field textarea:focus::-webkit-input-placeholder {
    color: #000000;
}

.second-field textarea:focus:-ms-input-placeholder {
    color: #000000;
}

.second-field textarea:focus::-ms-input-placeholder {
    color: #000000;
}

.second-field textarea:focus::placeholder {
    color: #000000;
}

/*#e74246*/

.button-submit {
    margin: 0 auto;
    padding: 17px 80px;
    background-color: #fb565a;
    color: white;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
}

.button-submit:hover,
.button-submit:focus {
    background-color: #e74246;
}

.button-submit:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.modal-close {
    position: absolute;
    top: 77px;
    right: 89px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 2px;
    width: 22px;
    height: 4px;
    background-color: #d0d0d0;
}

.modal-close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
    background-color: #fb565a;
}

.modal-close:active::after,
.modal-close:active::before {
    background-color: #ffeeee;
}

.price-runner {
    width: 260px;
    margin-bottom: 62px;
}

.optional-container ul {
    list-style: none;
}

.optional-container h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
}

.price-runner h3 {
    margin-bottom: 60px;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.layout-type {
    margin-bottom: 50px;
}

.layout-type h3,
.properties h3 {
    margin-bottom: 22px;
}

.properties li:last-child {
    margin-top: 50px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price {
    text-align: right;
}

.filter-option {
    margin-bottom: 9px;
    padding-left: 30px;
}

.filter-option label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";

    position: absolute;
    left: -30px;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid black;
    opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    top: 0px;
    left: -30px;
    width: 24px;
    height: 24px;
    background-image: url("../img/checkbox-on.png");
    background-repeat: no-repeat;
    opacity: 0.6;
}

.filter-input-checkbox:checked:hover + label::before {
    opacity: 1;
}

.filter-input-checkbox:hover + label::before {
    opacity: 1;
}

.filter-input-checkbox:checked:hover + label::after {
    opacity: 1;
}

.filter-input-checkbox:hover + label::after {
    opacity: 1;
}

.filter-input-radio + label::before {
    content: "";

    position: absolute;
    left: -30px;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 4px solid black;
    border-radius: 50%;
    opacity: 0.4;
}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;
    top: 7px;
    left: -21px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.4;
}

.filter-input-radio:hover + label::before {
    opacity: 1;
}

.filter-input-radio:checked:hover + label::after {
    opacity: 1;
}

.filter-button {

    margin: 0 auto;
    padding: 14px 88px 14px 88px;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 18px;
    background-color: #eeeeee;
    border-top: 3px solid #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #dfdfdf;
    border-top: 3px solid #dfdfdf;
}

.filter-button:active {
    color: #bfbfbf;
    background-color: #d5d5d5;
    border-top: 3px solid #bfbfbf;
}
