body {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

header {
    background-color: #eeeeee;
    font-weight: bold;
    text-transform: uppercase;
    padding: 49px 120px 0 140px;
}

nav {
    display: flex;
}

.header-logo {
    width: 162px;
    margin-right: 199px;
}

.header-logo:hover {
    opacity: 0.6;
    cursor: pointer;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.header-basket {
    width: 130px;
    margin: 0;
    padding: 0;
    margin-left: 243px;
    padding-top: 30px;
}

.header-basket span {
    margin-left: 20px;
}

a {
    text-decoration: none;
}

.main-navigation a:hover {
    color: #fb565a;
}

.main-navigation a:focus {
    border-bottom: 2px solid #fb565a;
}

.main-navigation a:active {
    opacity: 0.2;
}

.slider {
    display: flex;
    width: 100%;
    min-height: 425px;
    background-color: #eeeeee;
}

.main-navigation li {}

.button-order {
    display: inline-block;
    padding: 13px 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 200;
    color: white;
    border-radius: 2px;
    margin-top: 10px;
}

.benefits {}

.benefit-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding: 82px 90px 82px 10px;
}

.benefit-item {
    width: 300px;
}

.benefit-item h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0;
    margin: 18px 0;
}

.web a {
    background: #fb565a;
}

.app a {
    background: #00ca74;
}

.presentation a {
    background: #efc84a;
}

.web a:hover {
    background: #e74246;
}

.app a:hover {
    background: #00bc6c;
}

.presentation a:hover {
    background: #e5a722;
}

.web a:active {
    background: #d7373b;
    color: #e37376;
}

.app a:active {
    background: #00aa62;
    color: #4dc491;
}

.presentation a:active {
    background: #e5a722;
    color: #edc265;
}

.about-us {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #eeeeee;
    padding: 75px 22px 51px 10px;

}

.purpose {
    width: 660px;
}

.purpose h2 {
    margin: 0;
    font-size: 45px;
    line-height: 45px;
}

.purpose p {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 40px;
}

.orders-development {
    margin: 0;
    margin-top: 25px;
}

.orders-development li {
    margin-bottom: 25px;
}

.orders {
    text-transform: uppercase;
    font-weight: bold;
}

.stats {
    width: 360px;
}

.stats span {
    font-weight: bold;
    text-transform: uppercase;
}

tr:first-of-type td {
    font-size: 45px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 30px;
}

.partners ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #eeeeee;
    margin: 0;
    margin-bottom: 75px;
    padding: 44px 59px 45px 47px;
}

.partners li {
    opacity: 0.3;
}

.partners li:hover {
    opacity: 1;
}

.partners li:active {
    opacity: 0.2;
}

.map {
    width: 100%;
    text-align: center;

}

.map img {
    width: 1440px;

}

/*
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 310px;
    position: absolute;
    top: 1655px;
    left: 140px;
    background-color: white;
}
*/

.adress {
    padding: 0 45px;
}

.button-message {
    margin-top: 15px;
    padding: 19px 46px;
    background-color: #fb565a;
    color: white;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
}

footer {
    display: flex;
    align-items: flex-end;
    padding-top: 50px;
    padding-bottom: 68px;
}

.social {
    width: 260px;

}

.social ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}

.social a {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-right: 10px;
    background-color: #e1e1e1;
}

.social img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.social a:hover {
    background-color: #e74246;
}

.social a:active {
    background-color: #d7373b;
}

.discount {
    width: 562px;
    margin: 0;
    padding: 0;
    margin-left: 139px;
}

.discount h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 900;

}

.discount span {
    line-height: 22px;
}

/* catalog */

.magazine {
    text-align: center;
    background-color: #eeeeee;
    font-size: 35px;
    line-height: 35px;
    padding: 80px 220px 110px 220px;
    letter-spacing: 2px;
    margin-bottom: 60px;

}

.magazine h1 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
}

.optional-container {
    margin: 0;
    padding: 0;
    width: 260px;
}

.container {
    width: 760px;

}

.sort {
    display: flex;
    width: 760px;
    text-transform: uppercase;
    margin-bottom: 55px;
    padding: 0 20px 0 150px;
}

.sort-buttons {
    display: flex;
    width: 280px;
    justify-content: space-between;
    padding-left: 265px;
}

.arrows-buttons {
    display: flex;
    width: 60px;
    justify-content: space-between;
    padding-left: 35px;
}

.catalog-menu {
    width: 760px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    padding: 0 20px 0 150px;

}

.catalog-menu li {
    width: 360px;
}

.catalog-menu li:nth-child(odd) {
    margin-right: 40px;
}

.page-nav {
    width: 460px;
    padding: 0 20px 0 150px;
}

.hover-info p,
.hover-info h1 {
    margin: 0;
    padding: 0;
}

.hover-info {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #eeeeee;
    padding-top: 60px;
    padding-bottom: 60px;
    
    
    
    /*display: none;*/
}

.hover-info h1 {
    text-transform: uppercase;
    margin-bottom: 21px;
    font-size: 18px;
}
.hover-info p {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 27px;
}

.price {
    display: inline-block;
    color: #ffffff;
    background-color: #fb565a;
    padding: 15px 54px;
    border-radius: 5px;
    
}

